body {
  background-color: #808080;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

h1 {
  display: inline-block;
  color: #008000;
  background-color: #f2f3f4;
}

p {
  display: inline-block;
  color: #008000;
  background-color: #f2f3f4;
}
section {
  background: url("./250px-Flag_of_Ireland.png") center/cover no-repeat fixed;
  background-size: contain;
}

#section1 {
  font-weight: bold;
  font-size: 20px;
}

#section2 {
  font-weight: bold;
  font-size: 20px;
}

#section3 {
  font-weight: bold;
  font-size: 20px;
}

#section4 {
  font-weight: bold;
  font-size: 20px;
}

#belfast {
  height: 400px;
  width: 600px;
  border-left: solid 4px #008d00;
  border-right: solid 4px #008d00;
}

#countyCork {
  height: 400px;
  width: 600px;
  border-left: solid 4px #008d00;
  border-right: solid 4px #008d00;
}

#countyKildare {
  height: 400px;
  width: 600px;
  border-left: solid 4px #008d00;
  border-right: solid 4px #008d00;
}

#countyDonegal {
  height: 400px;
  width: 600px;
  border-left: solid 4px #008d00;
  border-right: solid 4px #008d00;
}
