body {
  background-color: #808080;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

h1 {
  display: inline-block;
  color: #008000;
  background-color: #f2f3f4;
}

p {
  display: inline-block;
  color: #008000;
  background-color: #f2f3f4;
}
section {
  background: url("./250px-Flag_of_Ireland.png") center/cover no-repeat fixed;
}

#irishTranslation {
  display: flex;
  justify-content: center;
  background-color: #ffa500;
  color: #008000;
  font-size: 40px;
  font-family: 'Tahoma', serif;
  text-decoration: none;
}

#englishTranslation {
  display: flex;
  justify-content: center;
  background-color: #ffa500;
  color: #008000;
  font-size: 20px;
  font-family: 'Tahoma' , serif;
  text-decoration: none;
}

#section1 {
  font-weight: bold;
  font-size: 20px;
}

#section2 {
  font-weight: bold;
  font-size: 20px;
}

#section3 {
  font-weight: bold;
  font-size: 20px;
}

#section4 {
  font-weight: bold;
  font-size: 20px;
}

#belfast {
  height: 400px;
  width: 600px;
  border-left: solid 4px #008d00;
  border-right: solid 4px #008d00;
  border-radius: 20%;

}

#countyCork {
  height: 400px;
  width: 600px;
  border-left: solid 4px #008d00;
  border-right: solid 4px #008d00;
  border-radius: 20%;

}

#countyKildare {
  height: 400px;
  width: 600px;
  border-left: solid 4px #008d00;
  border-right: solid 4px #008d00;
  border-radius: 20%;
}

#countyDonegal {
  height: 400px;
  width: 600px;
  border-left: solid 4px #008d00;
  border-right: solid 4px #008d00;
  border-radius: 20%;
}

/*
animation styling eh...

@keyframes slidein {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}   

animation: 3s linear 1s infinite alternate slidein;

  animation: 3s ease-in 1s infinite reverse running slidein;



*/
